{{!< default}}
<header class="main-header {{#if @site.cover_image}}" style="background-image: url({{@site.cover_image}}){{else}}no-cover{{/if}}">
	<div class="vertical">
		<div class="main-header-content inner">
			<h1 class="page-title"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 379.46 141.19"><defs><style>.cls-1{fill:rgba(0,0,0,0.8);}</style></defs><title>Case Studies</title><path class="cls-1" d="M31.49,0C38,0,41.89,2.47,46.21,2.47c2,0,2.79-1.25,3.65-2.31l1.26,21.9h-.2C50,13,44.29.27,32,.27,19.08.27,17.27,16.65,17.27,28S19.08,55.79,32,55.79C44.29,55.79,50,43.11,50.92,34h.2L49.86,55.91c-.86-1.06-1.61-2.32-3.61-2.32-4.36,0-8.17,2.47-14.76,2.47C14.6,56.06,0,44.52,0,28S14.6,0,31.49,0Z"/><path class="cls-1" d="M82.77,24.66c0-4.05-.08-10.64-5.85-10.64a6.34,6.34,0,0,0-6.48,6.59,5.08,5.08,0,0,0,2.75,4.75c-.24,4.48-3.45,6.6-7,6.6s-7.34-2.32-7.34-7.34c0-9.62,13.27-10.88,19.75-10.88,9.81,0,18.81,2.91,18.81,12V46.56c0,6.91,3.18,6.83,7.26,3.38l.12.16c-3.62,3.06-8.09,6-13.75,6-5.14,0-7.85-4.47-8.12-9.85h0C82.38,51,76.13,56.06,68,56.06c-6.83,0-11.74-3.53-11.74-10.28,0-12.41,17.35-9.23,26.54-17.08Zm0,4.28c-5,4.51-9.74,3.49-9.74,14.52,0,3.46.55,8.36,4.52,8.36,3.69,0,5.22-4.79,5.22-6.91Z"/><path class="cls-1" d="M106.73,39.18h.19c1.73,12.88,11.9,16.61,19.2,16.61,5.54,0,9.35-2.12,9.35-5.5,0-9.26-28.74-7.69-28.74-23.48,0-9.61,11.07-13.07,19.19-13.07,5.74,0,9.62,1.73,11.67,1.73a3.44,3.44,0,0,0,3.14-1.65l.78,13.82h-.2C140.37,18,132.25,14,125.77,14c-5.5,0-8.6,2.86-8.6,5.81,0,8.91,28.19,6.47,28.19,22.1,0,8.4-8.17,14.13-19.71,14.13-7.3,0-12.72-2.27-15-2.27-1.65,0-2.43,1.17-3.06,2.12Z"/><path class="cls-1" d="M165,30.39c.16,7.81,2.83,19.71,13.35,19.71,5.5,0,10.6-4.09,13.67-10.33l.23.12c-3.85,8.4-11.46,16.17-22.77,16.17s-20.18-8-20.18-20.49c0-12.88,9.5-21.83,23.63-21.83,13,0,20.11,6.68,17.59,16.65Zm0-.71v.43h11.63C177.87,25.24,177.87,14,172.3,14,166,14,165,22.93,165,29.68Z"/><path class="cls-1" d="M42.17,97.93H42c-1.22-8.8-5.69-19.12-18.73-19.12-6.51,0-11.15,2.59-11.15,7.77,0,14,34.24,10.56,34.24,30.11,0,11.23-11.66,17.91-25,17.91-8.09,0-10.21-2.48-16.18-2.48-2,0-2.78,1.26-3.61,2.32L.31,111.75h.2c1.3,9.46,5.42,22.57,21.28,22.57,7.58,0,12.84-3,12.84-8.44C34.63,112,0,114.1,0,95.18,0,84.54,10.91,78.53,22.42,78.53,29.8,78.53,33.53,81,37.53,81c2,0,2.79-1.26,3.62-2.32Z"/><path class="cls-1" d="M48.3,92.82H50c6.44,0,11.54-1.06,14.84-3.8a19.43,19.43,0,0,0,3.73-11.9h.27v15.7h8.64v.24H68.79v28.5c0,3.07.28,8.56,4.6,8.56,2.12,0,4-1.57,5.73-2.9l.11.15c-4.31,3.69-9.73,7.23-16.48,7.23-5.42,0-8.48-4.95-8.48-11.07V93.06h-6Z"/><path class="cls-1" d="M110.41,94.47l-5.93.79,0-.24,20.5-2.75V125.1c0,6.91,3.18,6.83,7.26,3.37l.12.16c-3.61,3.06-8.09,6-13.74,6-4.79,0-8.09-3.54-8.17-10.92-1.69,6.6-7,10.6-14,10.6S84,130.44,84,122.74V94.47l-7.5,1,0-.23,22.06-3v31.45c0,3.06.16,7.85,4.24,7.85,4.32,0,7.62-5.88,7.62-10.52Z"/><path class="cls-1" d="M175.59,125.1c0,6.91,3.18,6.83,7.27,3.37l.11.16c-3.61,3.06-8.08,6-13.74,6-4.87,0-7.77-3.77-8.16-9a12,12,0,0,1-12.1,9c-11.23,0-16-10.52-16-20.1,0-14.45,10.92-22.23,21.28-22.23,3.93,0,6.29,1.77,7,4.83l-.15-22.85-8,1.06,0-.23L175.59,72ZM161.07,98.56a5.53,5.53,0,0,0-5.38-5.74c-7.31,0-7.27,13.2-7.27,20.73,0,9.74.08,18.81,6.13,18.81,3.34,0,5.93-4.71,6.52-8Z"/><path class="cls-1" d="M204.18,133.81H211v.24H182.82v-.24h6.83V94.47l-8,1.06,0-.23,22.61-3Zm1.18-53.39a8.48,8.48,0,1,1-8.48-8.4A8.38,8.38,0,0,1,205.36,80.42Z"/><path class="cls-1" d="M229.07,108.92c.16,7.81,2.83,19.71,13.35,19.71,5.5,0,10.6-4.08,13.67-10.33l.23.12c-3.85,8.4-11.46,16.18-22.77,16.18s-20.18-8-20.18-20.5c0-12.87,9.5-21.83,23.63-21.83,13,0,20.11,6.68,17.59,16.65Zm0-.71v.44H240.7c1.25-4.87,1.25-16.1-4.32-16.1C230.1,92.55,229.07,101.46,229.07,108.21Z"/><path class="cls-1" d="M260.25,117.72h.2c1.73,12.87,11.9,16.6,19.2,16.6,5.53,0,9.34-2.12,9.34-5.49,0-9.27-28.74-7.7-28.74-23.48,0-9.62,11.08-13.08,19.2-13.08,5.73,0,9.62,1.73,11.66,1.73a3.42,3.42,0,0,0,3.14-1.65l.79,13.82h-.2c-.94-9.62-9.07-13.62-15.54-13.62-5.5,0-8.6,2.87-8.6,5.81,0,8.91,28.19,6.48,28.19,22.1,0,8.41-8.17,14.14-19.71,14.14-7.3,0-12.72-2.28-15-2.28-1.65,0-2.43,1.18-3.06,2.12Z"/></svg></h1>
			<h2 class="page-description">
				Below you will find my observations<span class="hidden-sm"> and reflections<br></span> on a number of projects that I've been <span class="hidden-sm">lucky <br>to be </span>a part of.
			</h2>
			<span class="clearfix"></span>
		</div>
	</div>
</header>

<main id="content" class="content" role="main">
	{{!-- Hard-coded Work page --}}
	<article class="{{post_class}}">
		<div class="work-item">
			<a href="{{site.url}}/verizon-provisioning-portal/">
				<img src="{{site.url}}/content/images/2018/10/verizon_small.png" alt="Verizon Provisioning Portal" class="full-img">
			</a>
			<div class="work-details">
				<h2><a href="{{site.url}}/verizon-provisioning-portal/">Provisioning Portal</a></h2>
				<ul>
					<li>SCSS <span class="ampersand">&amp;</span> CSS</li>
					<li>HTML <span class="ampersand">&amp;</span> Angular 2</li>
					<li>User Experience <span class="ampersand">&amp;</span> Interface Design</li>
				</ul>
				<p>
					Simplifying a complex process is like solving a puzzle. A lot of moving pieces have to come together in just the right way to provide the optimal user experience. Verizon's Provisioning Portal was perhaps my greatest challenge in this realm. I learned a lot about collaboration and form design in the course of the project.
				</p>
				<div class="work-controls">
					<a href="{{site.url}}/verizon-provisioning-portal/">Read the Case Study</a>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="work-item">
			<a href="{{site.url}}/cardinal-health-orders/">
				<img src="{{site.url}}/content/images/2018/10/cardinal_small.png" alt="Cardinal Health Orders" class="full-img">
			</a>
			<div class="work-details">
				<h2><a href="{{site.url}}/cardinal-health-orders/">Cardinal Health Orders</a></h2>
				<ul>
					<li>Less <span class="ampersand">&amp;</span> CSS</li>
					<li>HTML <span class="ampersand">&amp;</span> Struts</li>
					<li>User Experience <span class="ampersand">&amp;</span> Interface Design</li>
				</ul>
				<p>
					Revitalizing an older application is always a challenge, but with the help of a team of developers and analysts we were able to teach an old dog new tricks. By working closely with the folks at Cardinal Health, we created an experience that was tailor-made for our end users.
				</p>
				<div class="work-controls">
					<a href="{{site.url}}/cardinal-health-orders/">Read the Case Study</a>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="work-item">
			<a href="{{site.url}}/decky-io-pt-1/">
				<img src="{{site.url}}/content/images/2018/09/decky_small.png" alt="HirePower" class="full-img">
			</a>
			<div class="work-details">
				<h2><a href="{{site.url}}/decky-io-pt-1/">Decky</a></h2>
				<ul>
					<li>Sass <span class="ampersand">&amp;</span> CSS</li>
					<li>Python <span class="ampersand">&amp;</span> Flask</li>
					<li>User Experience <span class="ampersand">&amp;</span> Web Accessibility</li>
				</ul>
				<p>
					A long-term passion project of mine, Decky makes it easy for Magic: the Gathering players to build and share their decks with the world. I built it myself (with a lot of help from my friends) over the course of a year and change as a way to teach myself a number of technologies and expand my understanding of accessibility design on the web.
				</p>
				<div class="work-controls">
					Read <a href="{{site.url}}/decky-io-pt-1/">part 1</a> and <a href="{{site.url}}/animation-module-decky-pt-2/">part 2</a> of the Case Study.
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="work-item">
			<a href="{{site.url}}/hirepower/">
				<img src="{{site.url}}/content/images/2016/10/hirepower-small.jpg" alt="HirePower" class="full-img">
			</a>
			<div class="work-details">
				<h2><a href="{{site.url}}/hirepower/">HirePower</a></h2>
				<ul>
					<li>Sass <span class="ampersand">&amp;</span> CSS</li>
					<li>Angular 2 <span class="ampersand">&amp;</span> Material</li>
					<li>Branding <span class="ampersand">&amp;</span> Identity</li>
				</ul>
				<p>Working over a weekend with a small but talented team of developers, we created a platform for vetting and hiring new candidates. HirePower collects all of our information on a candidate in one place and provides a comprehensive method of evaluating each one.</p>
				<div class="work-controls">
					<a href="{{site.url}}/hirepower/">Read the Case Study</a>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="work-item">
			<a href="{{site.url}}/threatbase/">
				<img src="{{site.url}}/content/images/2016/09/booz-card.png" alt="Threatbase" class="full-img">
			</a>
			<div class="work-details">
				<h2><a href="{{site.url}}/threatbase/">Threatbase</a></h2>
				<ul>
					<li>Less <span class="ampersand">&amp;</span> CSS</li>
					<li>Angular</li>
					<li>Branding <span class="ampersand">&amp;</span> Identity</li>
				</ul>
				<p>Working with Booz Allen Hamilton on Threatbase was a great opportunity to apply current consumer-centric design practices and personality to an application that might otherwise have felt very corporate.</p>
				<div class="work-controls">
					<a href="{{site.url}}/threatbase/">Read the Case Study</a>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="work-item">
			<a href="{{site.url}}/aarp-innovation/">
				<img src="{{site.url}}/content/images/2016/09/aarp-small.jpg" alt="AARP Innovation Ideas" class="full-img">
			</a>
			<div class="work-details">
				<h2><a href="{{site.url}}/aarp-innovation/">Innovation Ideas</a></h2>
				<ul>
					<li>Sass <span class="ampersand">&amp;</span> CSS</li>
					<li>Angular</li>
					<li>Ionic</li>
				</ul>
				<p>We were able to help AARP continue to innovate and leverage its existing employees’ great ideas by building a mobile app and a desktop app that allow them to submit and view ideas.</p>
				<div class="work-controls">
					<a href="{{site.url}}/aarp-innovation/">Read the Case Study</a>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="work-item">
			<img src="{{site.url}}/content/images/2018/10/hacks-small.png" data-featherlight="{{site.url}}/content/images/2018/10/eai_hacks_2017.jpg" alt="EAI Hacks" class="full-img">
			<div class="work-details">
				<h2 data-featherlight="{{site.url}}/content/images/2018/10/eai_hacks_2017.jpg">EAI Hacks</h2>
				<ul>
					<li>Branding <span class="ampersand">&amp;</span> Concept</li>
					<li>Illustrator</li>
					<li>Photoshop</li>
				</ul>
				<p>In 2017 I was once again tasked with designing the t-shirt for EAI's yearly hackathon. This year I had a lot more creative freedom and decided to adopt an '80s look simply for the fun of it. I felt the more fun and care-free look reflected the nature of the company at the time.</p>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="work-item">
			<img src="{{site.url}}/content/images/2016/09/hacks-small.jpg" data-featherlight="{{site.url}}//content/images/2016/09/hacks.jpg" alt="EAI Hacks" class="full-img">
			<div class="work-details">
				<h2 data-featherlight="{{site.url}}//content/images/2016/09/hacks.jpg">EAI Hacks</h2>
				<ul>
					<li>Branding <span class="ampersand">&amp;</span> Concept</li>
					<li>Illustrator</li>
					<li>Photoshop</li>
				</ul>
				<p>I got the exciting opportunity to design a t-shirt for the 2016 EAI Hackathon. The globe in the logo recognizes our talented team of people from all over the world, and the gear represents the hard work we put in for the hackathons and in the course of our daily work.</p>
				<div class="work-controls">
					<a href="https://twitter.com/EAITECH/status/781235287678672896" target="_blank">See the Final Printed Shirt</a>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</article>
</main>